@import "http://fonts.googleapis.com/css?family=Raleway";

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

#main-body-view1
{
  background: blue;
}

.mdl-layout__content
{
  background: url("../images/sky.jpg");
  background-size: cover;
}

.mdl-layout--fixed-drawer>.mdl-layout__content
{
  height: 100%;
}

#contentG
{
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.columns
{
  color: white;
}


#draggableContent {
  width: 16%;
  height: 270px;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: solid;
  border-color: #009900;
  border-width: medium;
  border-style: dotted;
  float: left;
  margin-left: 2%;
}

#droppableContent {
  width: 72%;
  height: 270px;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: solid;
  border-color: #009900;
  border-width: medium;
  border-style: dotted;
  float: right;
  margin-right: 2%;
}

#droppableContent .generator{
  position: absolute;
}

.ui-drop .generator{
  position: absolute;
}



div.columns       { width: 100%; }
div.clear         { clear: both; }

#Draggable { width: 30px; height: 30px; background: red; }


.value {
  width: 25%;
  display: none;
}
/*popup style*/

#popupContent {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
  justify-content: space-around;
}
#close-icon {
  width: 40px;
  height: 40px;
  position:absolute;
  right:-14px;
  top:-14px;
  cursor:pointer
}
#popupGenerator {
  position:absolute;
  width: 500px;
  left:40%;
  top:5%;
  margin-left:-202px;
  font-family:'Raleway',sans-serif
}

form {
  max-width:500px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff
}

p {
  margin-top:30px
}
h2 {
  background-color:lightblue;
  font-size: xx-large;
  padding:20px 35px;
  margin:-10px -50px;
  border-radius:10px 10px 0 0
}
hr {
  margin:10px -50px;
  border:0;
  border-top:1px solid #ccc
}

#popupGenerator input[type=text] {
  width:60%;
  padding:10px;
  margin-top:10px;
  border:1px solid #ccc;
  font-size:16px;
  font-family:raleway;
}

#name {
  width: 84%;
}

#errorMsg {
  font-size: medium;
  color: red;
  font-weight: bold;
}

label {
  font-size: large;
  font-weight: bold;
}

#category option{
  font-size: medium;
}

#valMin {
  margin-top: 25px;
}

#save {
  margin-top: 30px;
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:blue;
  color:#fff;
  border:1px solid blue;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px
}

#save:hover {
  background-color:lightseagreen;
}
