<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Multitel Project</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/ressource_style.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="//www.chartjs.org/assets/Chart.min.js"></script>
      <script src="../JS/Libraries/lodash.js "></script>

      <script src="../JS/gestionSignal.js"></script>
    <script src="../JS/Libraries/signalUtils.js"></script>
    <script src="../JS/Libraries/utils.js"></script>

  </head>

  <body>

      <div id="contentG">
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <h3>Générateur de signaux</h3>
          </div>

          <div class="columns">

            <!--
            <div id="draggableContentExisting" class="ui-widget-content">
            </div>
          -->


            <div id="droppableContent" class= "ui-drop">
            </div>
          </div>
          <div class="clear"></div>

        </br>

          <div id="draggableContent" class="ui-widget-content">
            <center>
            <table>
              <th>
                <div class="generator">
                    <img src="../images/temperature.jpg" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                    <img src="../images/icon-electricity.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                    <img src="../images/iconeBinaire.jpg" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/fuel-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/water-reuse-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/database-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/load-power-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/pc-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/wifi-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/server-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/cloud-computing-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/hvac-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/home-power-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/hvac-icon2.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/air-conditioner-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/wind-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/ocean-waves-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/power-icon.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                  <img src="../images/sound-icon.png" height="50px" width="50px">
                </div>
              </th>
            </table>
          </center>
          </div>


          <div class="clear"></div>



      </div>

      <!--popup-->
        <dialog id="EnregistrerGeneratorPopUp" class="mdl-dialog">
          <h4 class="mdl-dialog__title">Propriétés du générateur</h4>
          <div class="mdl-dialog__content">
            <table id="panelInfoAddGenerateur" cellpadding="4">
              <tr>
                <th>
                  <label for="generatorNameIdList">Nom : </label>
                </th>
                <td>
                  <select class="popUpField" id="generatorNameIdList">
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="categoryNewgenerateur">Catégorie : </label>
                </th>
                <td>
                  <select class="popUpCategoryField" id="categoryNewgenerateur">
                      <option value="">- Sélectionner la catégorie -</option>
                      <option value="analog">Analogique</option>
                      <option value="binary">Binaire</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="unityNewGenerateur">Unité : </label>
                </th>
                <td>
                  <input class="popUpField" id="unityNewGenerateur" placeholder="Unité..." type="text">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="newCompagnieGenerateur">Compagnie : </label>
                </th>
                <td>
                  <select class="popUpField" id="newCompagnieGenerateur">
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="newNomBatiment">Batiment : </label>
                </th>
                <td>
                  <select class="popUpField" id="newNomBatiment">
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="newNumeroEtage">Etage : </label>
                </th>
                <td>
                  <select class="popUpField" id="newNumeroEtage">
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="mdl-dialog__actions">
            <button id="fermerButton" type="button" class="mdl-button">Fermer</button>
            <button id="enregistrer" type="button" class="mdl-button save">Enregistrer</button>
          </div>
        </dialog>


        <dialog id="UpdateSignalPopUp" class="mdl-dialog">
          <h4 class="mdl-dialog__title">Propriétés du générateur</h4>
          <div class="mdl-dialog__content">

            <table id="panelInfo" cellpadding="4">
              <tr>
                <th>
                  <label for="lastSignalName">Nom : </label>
                </th>
                <td>
                  <input class="popUpField" id="lastSignalName" placeholder="Nom..." type="text">
                </td>
              </tr>
              <tr>
                <th>
                  <label  for="lastCategory">Catégorie : </label>
                </th>
                <td>
                  <select class="popUpCategoryField" id="lastCategory">
                      <option value="">- Sélectionner la catégorie -</option>
                      <option value="analog">Analogique</option>
                      <option value="binary">Binaire</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label  for="lastUnity">Unité : </label>
                </th>
                <td>
                  <input  class="popUpField" id="lastUnity" placeholder="Unité..." type="text">
                </td>
              </tr>
              <tr>
                <th>
                  <label  for="lastCompagnie">Compagnie : </label>
                </th>
                <td>
                  <select  class="popUpField" id="lastCompagnie">
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="lastBatimentName">Batiment : </label>
                </th>
                <td>
                  <select class="popUpField" id="lastBatimentName">
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="lastEtageNumber">Etage : </label>
                </th>
                <td>
                  <select  class="popUpField" id="lastEtageNumber">
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close">Fermer</button>
            <button id="updateButton"type="button" class="mdl-button save">Mettre à jour</button>
            <button id="removeSignalButton" type="button" class="mdl-button save" >Supprimer</button>
          </div>
        </dialog>

    </br>

      <div class="chartsZone">
      </div>

    </br>


</body>

</html>
