<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Multitel Project</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/ressource_style.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="//www.chartjs.org/assets/Chart.min.js"></script>
      <script src="../JS/Libraries/lodash.js "></script>

      <script src="../JS/gestionBatiment.js"></script>



  </head>

  <body>

      <div id="contentG">

        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <h3>Ajouter un batiment</h3>
        </div>

          <div id="AddBatiment">
            <div id="champAlign">
              Compagnie :
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="compagnie" required="" onchange ="ValidateFieldChange();">
                <label class="mdl-textfield__label" for="compagnie">Compagnie...</label>
                <span class="mdl-textfield__error">Veuillez renseignez ce champs</span>
              </div>

            </br>
              Batiment :
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="batiment" required="" onchange="ValidateFieldChange();">
                <label class="mdl-textfield__label" for="adresse">Batiment...</label>
                <span class="mdl-textfield__error">Veuillez renseignez ce champs</span>
              </div>

            </br>
              Adresse :
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="adresse">
                <label class="mdl-textfield__label" for="adresse">Adresse...</label>
              </div>

            </br>
              Code Postal :
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="codePostal">
                <label class="mdl-textfield__label" for="codepostal">Code Postale...</label>
              </div>

            </br>
              Numéro :
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="numero">
                <label class="mdl-textfield__label" for="numero">Numero...</label>
                <span class="mdl-textfield__error">Il ne s'agit pas d'un nombre</span>
              </div>

            </br>
                Nb étage :
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="nbEtages">
                  <label class="mdl-textfield__label" for="numero">Numero...</label>
                  <span class="mdl-textfield__error">Il ne s'agit pas d'un nombre</span>
                </div>

              <div class="dataButtons">
                <a id="addBatimentButton" onclick="CreateBatiment();" disabled="true"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
                  Créer
                </a>
              </div>

            </div>
          </div>




      </div>


      <div id="contentG">

            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              <h3>Information du batiment</h3>
            </div>

            <div class="columns">

              <div id="choiceSearch">
                Compagnie :
                <select id="AdressListbox">
                </select>

                Bâtiment :
                <select id="BatListbox">
                </select>

                Adresse :
                <select id="AdressListbox">
                </select>

              </div>

              <div class="dataButtons">
                <a id="submitSearch" onclick="SearchBatimentGenerator();"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
                  Recherche
                </a>
              </div>

              <div class="space"></div>

              <div id="tableView">
                <form>
                  <input id ="input-tab" data-type="text" placeholder="Search" style="width:100%;">
                </form>

                  <div class="tbl-content">
                    <table id="donnee" cellpadding="0" cellspacing="0" border="0" data-filter="true" data-input="#input-tab">
                      <thead>
                        <tr>
                          <th>Compagnie</th>
                          <th>Batiment</th>
                          <th>Adresse</th>
                          <th>Etage</th>
                          <th>Nb de capteurs</th>
                        </tr>
                      </thead>

                      <tbody id="tableBatiment">
                      </tbody>

                    </table>
                  </div>
                </div>

            </div>

            <div class="clear"></div>

          </br>

      </div>

    </br>



    <!--popup-->
    <dialog id="SuccessPopUp" class="mdl-dialog">
      <div class="mdl-dialog__content">
        <p>Votre batiment a été ajouté avec succès</p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Fermer</button>
      </div>
    </dialog>


</body>

</html>
