<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Multitel Project</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/ressource_style.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="//www.chartjs.org/assets/Chart.min.js"></script>
      <script src="../JS/Libraries/lodash.js "></script>

      <script src="../JS/view1.js"></script>



  </head>

  <body>

      <div id="contentG">
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <h3>Générateur de signaux</h3>
          </div>

          <div class="columns">

            <div id="draggableContentExisting" class="ui-widget-content">
            </div>


            <div id="droppableContent" class= "ui-drop">
            </div>
          </div>
          <div class="clear"></div>

        </br>

          <div id="draggableContent" class="ui-widget-content">
            <table>
              <th>
                <div class="generator">
                    <img src="../images/temperature.jpg" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                    <img src="../images/icon-electricity.png" height="50px" width="50px">
                </div>
              </th>
              <th>
                <div class="generator">
                    <img src="../images/iconeBinaire.jpg" height="50px" width="50px">
                </div>
              </th>
            </table>

          </div>


      </div>

      <!--popup-->
      <div id="popupContent">
          <div id="popupGenerator">
              <form id="popformulaire">
                  <img id="close-icon" src="../images/close-icon.png" onclick ="hide_popup(); return false;">
                  <h2>Propriétés du générateur</h2>
                  <hr>
                  <fieldset>
                      <div id="errorMsg" type="text"></div>
                      <hr>
                      <div>
                          <label for="generatorName">Nom : </label>
                          <input id="generatorName" placeholder="Nom..." type="text">
                      </div>
                      <p></p>
                      <div>
                          <label for="category">Catégorie : </label>
                          <select id="category">
                              <option value="">- Sélectionner la catégorie -</option>
                              <option value="analog">Analogique</option>
                              <option value="binary">Binaire</option>
                              <option value="virtual">Virtuel</option>
                          </select>
                      </div>
                      <p></p>
                      <div>
                          <label for="unity">Unité : </label>
                          <input id="unity" placeholder="Unité..." type="text">
                      </div>
                      <div>
                          <label for="valMin">Valeur minimale : </label>
                          <input id="valMin" placeholder="valMin..." type="text">
                      </div>

                      <div>
                          <label for="valMax">Valeur maximale : </label>
                          <input id="valMax" placeholder="valMax..." type="text">
                      </div>
                      <button id="save" type="submit" onclick="createNewSignal(); return false;">Enregistrer</button>
                      <button id="update" type="submit" onclick="updateSignal(); return false;" style="display: none;">Mettre à jour</button>
                  </fieldset>
              </form>
          </div>
      </div>
    </br>

      <div class="chartsZone">

      </div>

    </br>


</body>

</html>
